:root {
  --bg-orange: #e28625;
  --bg-teal: #006971;
  --bg-dark-teal: #004140;
  --bg-button: #f2f2f2;
  --light-gray: #f2f2f2;
  --text-white: hsl(0, 0%, 100%);
  --text-white-semi-transparent: hsla(0, 0%, 100%, 0.75);
}

@mixin card-colors($color) {
  background-color: #{$color};

  .card__button {
    color: #{$color};
  }

  .card__button:hover, .card__button:focus-visible {
    background-color: #{$color};
    color: var(--text-white);
    border-color: var(--text-white);
  }
}