@use "../util";

.card {
  display: grid;
  justify-items: start;
  grid-row: span 4;

  max-width: 20.4375rem;
  padding: 3rem 3.0625rem;
  min-height: 27.625rem;

  @include util.mq('medium') {
    max-width: 19.1875rem;
  }


  &__title {
    margin-top: 2.25rem;

    font-family: var(--second-family);
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.15;
    text-transform: uppercase;
    color: var(--light-gray);
  }

  &__description {
    margin-top: 1.6875rem;
    line-height: 166%;
  }

  &__button {
    margin-top: 1.5rem;
    border-radius: 1.875rem;
    background-color: var(--bg-button);
    padding: 0.85rem 1.8125rem;
    border: 2px solid var(--bg-button);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    outline: transparent;
    white-space: nowrap;

    @include util.mq('medium') {
      margin-top: 5.1875rem;
    }
  }
}